/* Var */

:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #444444;
  --grey-soc: #E1E1E1;
  --grey-basic: #EEEEEE;
  --grey-hover: #DFDFDF;
  --grey-click: #D5D5D5;
  --grey-border: #DBDBDB;
  --arrow: #A6A6A6;
  --arrow-activ: #231F20;
  --text-all: #283136;
  --red: #FB565A;
  --red-hover-err: #E74246;
  --red-click: #D7373B;
  --green: #00CA74;
  --green-hover: #00BC6C;
  --green-click: #00AA62;
  --yellow: #EFC849;
  --yellow-hover: #EAB534;
  --yellow-click: #E5A722;
  --address-text: #666666;
  --radio-check-icon: #4D4D4D;
  --input: #D7DCDE;
  --input-hover: #B4B9BB;
  --range-scale: #D7DCDF;
  --toogle: #ABABAB;

}

/* Global */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Body */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  min-width: 1180px;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-all);
  background-color: var(--white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1160px;
  margin: 0 auto;
}


/* Header */
.main-header {
  background-color: var(--grey-basic);

}
.main-header-logo:hover,
.main-heade-logor:focus {
  opacity: 0.7;
  cursor: pointer;
}
.main-header-logo:active {
opacity: 0.3;
cursor: pointer;
}
.main-header .container {
  margin-top: 49px;

}


.active-page::before {
  position: absolute;
  content: "";
  width: 73px;
  height: 2px;
  bottom: 4px;
  background-color: var(--red);
}

/* Main nav */

.main-nav {
  font-weight: 500;
  line-height: 187%;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  column-gap: 20px;
  align-items: center;
}

.site-nav {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.site-nav li {
  margin-right: 45px;
  margin-bottom: 7px;
}

.site-nav a,
.user-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: block;
  padding-top: 20px;
  padding-bottom: 7px;
  color: var(--black);
}

.catalog-link {
  color: var(--black);
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus,
.catalog-link:hover,
.catalog-link:focus {
  color: var(--red);
}

.site-nav a:active,
.user-nav a:active,
.catalog-link:active {
  color: var(--black);
  opacity: 0.3;
}

.cart-link {
  position: relative;
  padding-left: 40px;
  margin-bottom: 7px;
}

.cart-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 15px;
  left: 0px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  font-weight: 500;
  line-height: 112%;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  display: inline-block;
  box-sizing: border-box;
}


/* Slider */

.slider {
  margin-top: -10px;
  margin-bottom: 80px;
  position: relative;
  background-color: var(--grey-basic);
}

.slider-list {
  padding: 0px;
  margin: 0;
  list-style: none;
}

.slider-item {
  height: 431px;
  display: none;
}

.slider-item h3 {
  width: 538px;
  margin: 0px;
  padding-top: 78px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-item p {
  display: block;
  margin-top: 37px;
  margin-bottom: auto;
  width: 416px;
}

.slide-1 {
  background-image: url("../img/slider/smartphons.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slide-2 {
  background-image: url("../img/slider/monitors.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slide-3 {
  background-image: url("../img/slider/smartphone_tablet.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slide-current {
  display: list-item;
}

.button-slider {
  min-width: 240px;
  margin-top: 26px;
}
.slider-wrap {
position: relative;
}
.slider-controls {
  position: absolute;
  left: 540px;
  bottom: 92px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  margin-right: 13px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current-btn {
  background-image: url("../img/current-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Services */


.services {
  margin-bottom: 39px;
}

.services .container {
  border-bottom: 2px solid var(--grey-basic);
  padding-bottom: 80px;
}

.services-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
}


.service-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 16px;
}

.service-item {
  display: flex;
  flex-direction: column;
}

.service-item img {
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-item p {
  margin-top: 0px;
  margin-bottom: 32px;
}

.service-item a {
  width: 160px;
  margin-top: auto;

}

.service-img {
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.img-laptop {
  background-color: var(--red);
  background-image: url("../img/laptop.png");
}

.img-phone {
  background-color: var(--green);
  background-image: url("../img/phone.png");
}

.img-presentation {
  background-color: var(--yellow);
  background-image: url("../img/presentation.png");
}

.button-green {
  background-color: var(--green);
  border-radius: 3px;
}

.button-green:hover {
  background-color: var(--green-hover);
  border-radius: 3px;
}

.button-green:active {
  background-color: var(--green-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.button-red {
  background-color: var(--red);
  border-radius: 3px;
}

.button-red:hover {
  background-color: var(--red-hover-err);
  border-radius: 3px;
}

.button-red:active {
  background-color: var(--red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.button-yellow {
  background-color: var(--yellow);
  border-radius: 3px;
}

.button-yellow:hover {
  background-color: var(--yellow-hover);
  border-radius: 3px;
}

.button-yellow:active {
  background-color: var(--yellow-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* About Us */

.about_us {
  margin-bottom: 73px;

}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;
}

.about-text p {
  margin-top: 32px;
  margin-bottom: 40px;
}

.about-text span {
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.subtitle-about {
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  margin-top: 35px;
}

.features-list {
  padding: 0px;
  margin-top: 23px;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}

.features-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0px;
  background-color: var(--red);
  background-position: 0 0;
}

.accuracy {
  display: flex;
  flex-direction: column;
}

.accuracy p {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 31px;
  align-self: center;

}

.accuracy-img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.accuracy-list {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content;
  grid-auto-flow: column;
}

.accuracy-list dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 142%;
}

.accuracy-list dd {
  line-height: 112%;
  margin-left: 0px;
  margin-top: 10px;
}

.accuracy-list span {
  font-weight: 700;
  font-size: 26px;
  line-height: 154%;
  vertical-align: top;

}

/* Clients */

.clients {
  margin-bottom: 80px;
}

.clients .container {
  border-top: 2px solid var(--grey-basic);
  border-bottom: 2px solid var(--grey-basic);
}


.clients-list {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.client-item {
  flex-basis: 290px;
  display: flex;
}

.client-item a {
  margin: 0 auto;
  opacity: 0.2;
  cursor: pointer;

}

.client-item::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 52px;
  top: 64px;
  background-image: url("../img/gray-line-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.client-item:first-child::before {
  display: none;
}

.client-item a:hover {
  opacity: 1;
}

.client-item a:active {
  opacity: 0.1;
}

/* Footer */

.footer-map iframe {
  width: 100%;
}

.footer-map {
  position: relative;
  width: 100%;
  height: 416px;
  background: url("../img/map.png") no-repeat;
  background-position: center;
}

.footer-contacts {
  background-color: var(--white);
}

.contacts-list {
  width: 319px;
  min-height: 308px;
  padding: 49px 50px 47px;
  box-sizing: border-box;
  background-color: var(--white);
  position: absolute;
  bottom: 65px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  ;
}

.contacts-list>p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 22px;
}

.button-contacts {
  width: 219px;
}

.address {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--address-text);
}

address p {
  margin-top: 0px;
}

.address a {
  color: var(--address-text);
}



.social-wrapper {
  display: grid;
  height: 217px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 261px;

}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--grey-soc);
  border-radius: 50%;
  margin-bottom: 5px;
}

.social-button:hover {
  background-color: var(--red-hover-err);
}

.social-button:active {
  background-color: var(--red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active img {
  opacity: 0.3;
}

.footer-sale {
padding-left: 13px;
}
.sale-title {
  display: block;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}

.sale-text {
  margin: 0PX;
  line-height: 138%;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  width: 960px;
  height: 590px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 63px 100px 84px;
  box-sizing: border-box;
  background-color: var(--white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}


.modal h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 35px;
}

.write-mail {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.write-mail label
 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 9px;

}

.write-mail p {
  margin: 0;
  margin-bottom: 5px;
}

.modal-name input,
.modal-email input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--input);
  border-radius: 3px;
  padding: 14px;
  box-sizing: border-box;
}
.modal-name input:hover,
.modal-email input:hover,
.modal-message textarea:hover {
border-color: var(--input-hover);
}
.modal-message {
margin-top: 34px;
  grid-column: 1 / -1;
}

.modal-message textarea {
  width: 760px;
  height: 118px;
  border: 2px solid var(--input);
  border-radius: 3px;
  padding: 14px;
  box-sizing: border-box;
  resize: none;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  opacity: 0.3;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.modal-close:hover,
.modal-close:focus {
opacity: 1;
}
.modal-close:active {
opacity: 0.1;
}
.button-modal {
  width: 259px;
  border: none;
  margin-top: 38px;
}

/* Catalog */
.page-catalog {
  margin-top: 55px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

.catalog-wrapper {
  display: grid;
}


.title-catalog {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 108px;

}

.title-catalog h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0px;
}

.filter {
  width: 260px;
}

.filter fieldset {
  padding: 0px;
  border: none;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-transform: uppercase;

}

.filter-range {
  margin-bottom: 54px;
}

.range {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 33px;
  padding-right: 22px;
  background-color: var(--grey-basic);
  border-radius: 3px;
  margin-bottom: 14px;
}

.scale {
  height: 2px;
  background-color: var(--range-scale);
}

.bar {
  width: 70%;
  height: 2px;
  background-color: var(--green);
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  background-color: var(--toogle);
  border: 8px solid var(--white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;

}

.toogle-min {
  left: 18px;
}

.toogle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  line-height: 138%;
  text-transform: uppercase;
}

.price-controls input {
  font-size: 16px;
  line-height: 138%;
  margin-left: 10px;
  padding: 0px;
  width: 80px;
  height: 38px;
  background-color: var(--grey-basic);
  border: none;
  border-radius: 3px;
  text-align: center;
}


.filter-list {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.filter-list li:last-child {
  margin-bottom: 0px;
}

.filter-option {
  padding-left: 36px;

}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}

.filter-option.filter-radio label,
.filter-option.filter-checkbox label {
  padding-top: 3px;
}
.filter-input:focus + label::before {

  outline: 10px auto -webkit-focus-ring-color;
  
}


.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -36px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;

}

.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -36px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;

}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0px;
  left: -36px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;

}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0px;
  left: -36px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}
.filter-input-radio+label:hover::before,
.filter-input-radio:checked+label:hover::before,
.filter-input-checkbox+label:hover::before,
.filter-input-checkbox:checked+label:hover::before,
.filter-input-radio+label:focus::before,
.filter-input-radio:checked+label:focus::before,
.filter-input-checkbox+label:focus::before,
.filter-input-checkbox:checked+label:focus::before {
opacity: 1;
}

.filter-input-radio:disabled+label::before,
.filter-input-checkbox+label:disabled::before {
opacity: 0.1;
}
.filter-cat-g {
  margin-bottom: 48px;
}

.filter-cat-p {
  margin-bottom: 48px;
}

.button-filter {
  width: 260px;
  border: 0px;
}

.btn-gray {
  color: var(--black);
}

.btn-gray:hover,
.btn-gray:focus {
  background-color: var(--grey-hover);
}

.btn-gray:active {
  background-color: var(--grey-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.sort-title {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: center;

}

.sort-title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 129%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sort-link {
  color: var(--black);
  opacity: 0.3;
  margin-right: 25px;
}

.sort-link:hover,
.sort-link:focus {
  opacity: 0.6;
}

.sort-active,
.sort-link:active {
  opacity: 1;
}

.arrow-active svg path,
.sort-directional-down:active svg path,
.sort-directional-up:active svg path {
  opacity: 1;
  fill: var(--arrow-activ);
}

.sort-directional-down {
  margin-left: 22px;

}

.sort-directional-up {
  margin-left: 18px;

}

.sort-directional-up:hover svg path,
.sort-directional-up:focus svg path,
.sort-directional-down:hover svg path,
.sort-directional-down:focus svg path {
  fill: var(--arrow);
  opacity: 1;
}

.sort-catalog {
  margin-top: 48px;
  margin-bottom: 54px;
}

.button-pag {
  padding: 17px 20px 15px;
  color: var(--black);
  background-color: var(--grey-basic);
}

.pagination-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pag-next {
  padding-left: 78px;
  padding-right: 77px;
}

.pagination-list li {
  margin-right: 11px;
  margin-bottom: 2px;
}

.pag-active {
  border: 3px solid var(--grey-border);
  color: var(--black);
  background-color: var(--white);
}

.products-list {

  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 20px;
}

.products-item {
  position: relative;
}

.products-item:hover .product-discription,
.products-item:hover .browser-img {
  opacity: 1;
}

.product-discription {
  background-color: var(--grey-basic);
  position: absolute;
  bottom: 0px;
  text-align: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-discription-img {
  width: 359px;
  height: 578px;
  object-fit: contain;
}

.products-item:hover .product-discription-img {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.product-discription h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  margin-top: 26px;
  margin-bottom: 0px;

}

.product-discription p {
  font-size: 16px;
  line-height: 112%;
  padding-left: 50px;
  padding-right: 50px;
}

.product-discription a {
  width: 200px;
  align-self: center;
  margin-bottom: 44px;
}

.browser-img {
  widows: 360px;
  height: 40px;
  opacity: 0.12;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}